@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.deliveboo-background {
    background-image: url('../assets/bg-home/final-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

// UTILITIES

.deliveboo-orange {
    background-color: #FF8100;
}

.deliveboo-green {
    background-color: #90BB3F;
}

.text-orange {
    color: #FF8100;
}

// END UTILITIES


/************************************************************************/
// MEDIA QUERY SLIDER
@media screen and (min-width: 576px) and (max-width: 767px) {
    .carousel-image {
        max-width: 180px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-image {
        max-width: 220px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-image {
        max-width: 260px;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-image {
        max-width: 300px;
    }
}

// END MEDIA QUERY SLIDER

/************************************************************************/