@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// HEADER

.navbar {
    background-color: #FF8100;
}

.top-bar {
    height: 75px;
}

.logo-deliveboo {
    width: 150px;
}

// END HEADER